@font-face {
  font-family: 'Roboto Slab';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local('RobotoSlab-Regular'), url(./assets/fonts/RobotoSlab-Regular.ttf) format('ttf');
}