$color-bg: #fff;
$color-bg-secondary: #fff;
$color-primary: #fff;
$color-secondary: #5a5a5a;
$color-bg-clip-path: rgba(204,50,114,0.18);
$color-black: #292929;
$color-selection: #fff;
$main-font-family:'Roboto Slab', serif;
// $main-font-family:'Merriweather-Regular', serif;